<%= form_with(model: group, html: {multipart: true}) do |form| %>
<div class="header">
  <h2 class="title">New Category</h2>
  <%= link_to "Back", groups_path, class: "header-link" %>
  <div class="submit-button"><%= form.submit "Save", class: "submit-button" %></div>
</div>
<div class="form-container">
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div class="form-divider"></div>
  <div class="field">
    <label class="form-button">
      Upload an image
      <%= form.file_field :icon %>
    </label>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>
</div>
<% end %>
  
