<div id="<%= dom_id group %>" class="card flex">
  <div class="card-body">
    <div class="card-image">
      <img src=<%= group.icon %> alt=<%= group.name %>>
    </div>
    <div class="card-content">
    <div>
      <span class="left"><%= group.name %></span>
    </div>
    <div>
      <span class="dark"><%= group.expenses.sum(:amount) %></span>
    </div>
    </div>
  </div>
  <div class="card-footer">
    <p><%= group.created_at.strftime("%d-%b-%Y") %></p>
  </div>
</div>
