<div class="header">
  <h2 class="title">Categories</h2>
  <%= link_to 'Logout', destroy_user_session_path, 'data-turbo-method': :delete, class: "header-link" %>
  <div></div>
</div>

<div id="groups" class="container">
<p style="color: green"><%= notice %></p>
  <% @groups.each do |group| %>
    <%= link_to group, class: "card-link" do %>
      <%= render group %>
    <% end %>
  <% end %>
</div>

<%= link_to new_group_path, {class: "create", id: "create-category"} do %>
  <div class="create-div">
    <span>NEW CATEGORY</span>
  </div>
<% end %>